@model WebApp.ViewModels.EventVM

@{
    ViewData["Title"] = "Create";
    
}

<h1>Create event</h1>
@{
    if (ViewBag.Message != null)
    {
        <div>
            @ViewBag.Message
        </div>
    }
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Event.EventName" class="control-label"></label>
                <input asp-for="Event.EventName" class="form-control" />
                <span asp-validation-for="Event.EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Date" class="control-label"></label>
                <input asp-for="Event.Date" class="form-control" />
                <span asp-validation-for="Event.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Description" class="control-label"></label>
                <input asp-for="Event.Description" class="form-control" />
                <span asp-validation-for="Event.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.EventName" class="control-label"></label>
                @Html.DropDownListFor(m => m.Event.eventTypeID,
                         new SelectList(Model.EventTypes.ToList(), "IDEventType", "EventTypeName", Model.EventTypes.First().IDEventType),
                         new { @class = "form-control" })
            </div>
            <br/>
            <div>
                <label for="file">Select Image:</label>
                <input type="file" id="imageFile" name="imageFile" required/>
            </div>
            <br/>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-primary mt-3">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
