@model WebApp.ViewModels.UserVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="UserEdit.IDUser" class="form-control" />
                <span asp-validation-for="UserEdit.IDUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEdit.Username" class="control-label"></label>
                <input asp-for="UserEdit.Username" class="form-control" />
                <span asp-validation-for="UserEdit.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEdit.Password" class="control-label"></label>
                <input asp-for="UserEdit.Password" class="form-control" />
                <span asp-validation-for="UserEdit.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEdit.FirstName" class="control-label"></label>
                <input asp-for="UserEdit.FirstName" class="form-control" />
                <span asp-validation-for="UserEdit.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEdit.LastName" class="control-label"></label>
                <input asp-for="UserEdit.LastName" class="form-control" />
                <span asp-validation-for="UserEdit.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEdit.Email" class="control-label"></label>
                <input asp-for="UserEdit.Email" class="form-control" />
                <span asp-validation-for="UserEdit.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEdit.Phone" class="control-label"></label>
                <input asp-for="UserEdit.Phone" class="form-control" />
                <span asp-validation-for="UserEdit.Phone" class="text-danger"></span>
            </div>


            <div class="form-group">
                Role
                <label class="control-label"></label>
                @Html.DropDownListFor(m => m.UserEdit.UserRoleId,
                         new SelectList(Model.UserRoles.ToList(), "IDUserRole", "RoleName", Model.UserRoles.First().IDUserRole),
                         new { @class = "form-control" })
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-primary mt-3">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
